#loading{
  text-align: center;
  font-size: 400%;
  font-family: fantasy;
  color: red;
  text-transform: uppercase;
}
  
#main{
  display: none
}

#NBA{
  text-align: center;
  font-size: 500%;
  font-weight: bolder;
  color: blue;
  font-family: fantasy;
  text-transform: uppercase;
}

body{
  background-color: ivory;
  text-align: center;
}

#search{
  font-size: .25in;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}
/* HOW DO I CENTER ALL THE TABLE TEXT??? */
table{
  border: 2px solid black;
  color: red;
  font-size: 600%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}
#EAST,#WEST{
  font-size: 60%;
  font-weight: bolder;
  color: blue;
}

#atl,#cen,#sea,#nor,#pac,#swe{
  border: 2px solid black;
  color: blue;
  font-weight: bold;
  font-size: 31%;
  text-align: center;
}

td.teams{
  text-align: center;
}

li{
  color:blue;
  font-size: 300%;
  text-align: center;
}

div{
  text-align: center;
  color: blue;
  font-size: x-large;
}