#loading{
  text-align: center;
  font-size: 500%;
  font-family: fantasy;
  color: red;
  text-transform: uppercase;
}
  
#main{
  display: none
}

#NBA{
  text-align: center;
  font-size: 600%;
  font-weight: bolder;
  color: blue;
  font-family: fantasy;
  text-transform: uppercase;
}

body{
  background-color: ivory;
  text-align: center;
}

#search{
  font-size: .5in;
  text-align: center;
}

table{
  border: 2px solid black;
  color: red;
  font-size: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#EAST,#WEST{
  font-size: 500%;
  font-weight: bolder;
  color: blue;
}

#atl,#cen,#sea,#nor,#pac,#swe{
  border: 2px solid black;
  color: blue;
  font-weight: bold;
  font-size: 350%;
  text-align: center;
}

td,tr,th,thead,tbody{
  text-align: center;
}

li{
  color:blue;
  font-size: 300%;
  text-align: center;
}

div{
  text-align: center;
  color: blue;
  font-size: x-large;
}